@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap');
/*
:root {

}
*/

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    overflow: scroll;
    margin: 0;
    height: 20000px;
}

.container {
    display: grid;
    width: 10000px;
    height: 10000px;
    background-color: rgb(0, 0, 0);
}

.groupstart {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
}

.evelynfight1 {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    transform: translate(600px , -10px);
}

.dark {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
}
.e1 {
    transform: translate(1750px , 50px);
    transition: 4s;
}
.e2 {
    transform: translate(1500px , 400px);
    transition: 2s;
}
.e3 {
    transform: translate(2050px , 0px);
    transition: 2s;
}
.e4 {
    transform: translate(2300px , 300px);
    transition: 2s;
}
.e5 {
    transform: translate(2500px , 0px);
    transition: 2s;
}
.e6 {
    transform: translate(1400px , 150px);
    transition: 2s;
}
.e7 {
    transform: translate(2100px , 300px);
    transition: 2s;
}
.q1 {
    transform: translate(1500px , 0px);
    transition: 2s;
}
.q2 {
    transform: translate(1450px , 300px);
    transition: 2s;
}
.q3 {
    transform: translate(1900px , 0px);
    transition: 2s;
}
.q4 {
    transform: translate(1940px , 430px);
    transition: 2s;
}
.q5 {
    transform: translate(2600px , 100px);
    transition: 2s;
}
.blood {
    z-index: 0;
    transform: translate(2200px , 0px);
    transition: 2s;
}
.smoke {
    z-index: 0;
    transform: translate(3000px , 150px) scale(1.1);
}

.whitebackground {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: -1;
    background-color: white;
    transform: translate(6000px , 0px);
}

.senti {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
}
.ok {
    transform: translate(4050px , 300px);
    transition: 2s;
}
.mental {
    transform: translate(3650px , 100px);
    transition: 2s;
}

.fight {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
}
.f1 {
    transform: translate(5600px , 100px);
}
.smoke1 {
    transform: translate(5400px , 0px);
}
.f2 {
    transform: translate(5800px , 100px);
}
.f3 {
    transform: translate(6400px , 80px);
}
.f4 {
    transform: translate(7470px , 90px);
}
.smoke2 {
    transform: translate(5970px , 0px);
}
.f5 {
    transform: translate(7350px , 200px);
}
.f6 {
    transform: translate(7000px , 90px);
}

.whiteredbackground {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: -1;
    transform: translate(8300px , 0px);
}

.hotdog {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
}
.hdsmoke {
    transform: translate(7700px , 0px);
}
.hdfont1 {
    transform: translate(7850px , 30px);
}
.hdfont2 {
    transform: translate(7920px , 70px);
}
.hdfont3 {
    transform: translate(7880px , 150px);
}
.hdfont4 {
    transform: translate(8000px , 210px);
}
.hdfont5 {
    transform: translate(8000px , 250px);
}
.hdfont6 {
    transform: translate(7900px , 300px);
}
.hd1 {
    transform: translate(8200px , -800px);
}
.hd2 {
    transform: translate(8600px , 40px);
}
.hd3 {
    transform: translate(8700px , 200px);
}
.hd4 {
    transform: translate(8900px , 0px);
}
.hd5 {
    transform: translate(9100px , 0px);
}
.hd6 {
    transform: translate(9700px , 20px);
}
.hd7 {
    transform: translate(10100px , 0px);
}