@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap');
/*
:root {

}
*/

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    overflow: scroll;
    overflow-x: hidden;
    margin: 0;
    height: 20000px;
}

.responsive {
    transform-origin: top left;
}

.container {
    display: grid;
    width: 10000px;
    height: 10000px;
    background-color: rgb(0, 0, 0);
}

.groupstart {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
}

.evelynfight1 {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    transform: translate(600px , -10px);
}

.dark {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
}
.e1 {
    transform: translate(1750px , 50px);
    transition: 4s;
}
.e2 {
    transform: translate(1500px , 400px);
    transition: 2s;
}
.e3 {
    transform: translate(2050px , 0px);
    transition: 2s;
}
.e4 {
    transform: translate(2300px , 300px);
    transition: 2s;
}
.e5 {
    transform: translate(2500px , 0px);
    transition: 2s;
}
.e6 {
    transform: translate(1400px , 150px);
    transition: 2s;
}
.e7 {
    transform: translate(2100px , 300px);
    transition: 2s;
}
.e8 {
    transform: translate(1200px , -950px) scale(0.7) rotate(-1.5deg);
    transition: 2s;
}
.e9 {
    transform: translate(1800px , 350px);
    transition: 2s;
}
.e10 {
    transform: translate(2300px , 200px) rotate(3deg);
    transition: 2s;
}
.e11 {
    transform: translate(2700px , 200px);
    transition: 2s;
}
.q1 {
    transform: translate(1500px , 0px);
    transition: 2s;
}
.q2 {
    transform: translate(1450px , 300px);
    transition: 2s;
}
.q3 {
    transform: translate(1900px , 0px);
    transition: 2s;
}
.q4 {
    transform: translate(1940px , 430px);
    transition: 2s;
}
.q5 {
    transform: translate(2600px , 100px);
    transition: 2s;
}
.blood {
    z-index: 0;
    transform: translate(2200px , 0px);
    transition: 2s;
}
.smoke {
    z-index: 0;
    transform: translate(3000px , 150px) scale(1.1);
}

.whitebackground {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: -1;
    background-color: white;
    transform: translate(6000px , 0px);
}

.senti {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
}
.ok {
    transform: translate(4050px , 300px);
    transition: 2s;
}
.mental {
    transform: translate(3800px , 200px);
    transition: 2s;
}
.stext {
    transform: translate(4080px , 400px);
    transition: 0.5s;
}
.stextjoy {
    transform: translate(3940px , 390px);
    transition: 0.5s;
}
.stextfather {
    transform: translate(3950px , 390px);
    transition: 0.5s;
}
.stextwaymond {
    transform: translate(4020px , 400px);
    transition: 0.5s;
}
.sjoy {
    transform: translate(3900px , -50px);
    transition: 2s;
}
.sfather {
    transform: translate(4100px , -450px) scale(0.75);
    transition: 2s;
}
.swaymond {
    transform: translate(3470px , -580px) scale(0.75);
    transition: 2s;
}
.sjoyclick {
    width: 720px;
    height: 720px;
    transform: translate(7800px , -100px);
    transition: 2s;
    z-index: 2;
}
.sfatherclick {
    width: 405px;
    height: 405px;
    transform: translate(8500px , 530px);
    transition: 2s;
    z-index: 2;
}
.swaymondclick {
    width: 405px;
    height: 405px;
    transform: translate(7390px , 300px);
    transition: 2s;
    z-index: 2;
}

.fight {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
}
.f1 {
    transform: translate(5600px , 150px) rotate(-5deg);
}
.smoke1 {
    transform: translate(5400px , 0px);
}
.f2 {
    transform: translate(5800px , 100px);
    transition: 1s;
}
.f3 {
    transform: translate(6400px , 80px);
}
.f4 {
    transform: translate(7470px , 90px);
}
.smoke2 {
    transform: translate(5970px , 0px);
}
.f5 {
    transform: translate(7200px , 200px);
    transition: 0.5s;
}
.f6 {
    transform: translate(7000px , 90px);
}

.whiteredbackground {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: -1;
    transform: translate(8300px , 0px);
}

.hotdog {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
}
.hdsmoke {
    transform: translate(7700px , 0px);
    transition: 0.5s;
}
.hdfont1 {
    transform: translate(7850px , 30px);
    transition: 0.1s;
}
.hdfont2 {
    transform: translate(7920px , 70px);
    transition: 0.1s;
}
.hdfont3 {
    transform: translate(7880px , 150px);
    transition: 0.1s;
}
.hdfont4 {
    transform: translate(8000px , 210px);
    transition: 0.1s;
}
.hdfont5 {
    transform: translate(8000px , 250px);
    transition: 0.1s;
}
.hdfont6 {
    transform: translate(7900px , 300px);
    transition: 0.1s;
}
.hd1 {
    transform: translate(8200px , -800px);
    transition: 5s;
}
.hd2 {
    transform: translate(8600px , 40px);
}
.hd3 {
    transform: translate(8700px , 200px);
    animation: 2.65s 5;
}
.button3 {
    transform: translate(17400px , 400px);
    width: 540px;
    height: 400px;
    z-index: 2;
}
@keyframes hddance {
    0% {
        transform: translate(8700px , 200px);
    }
    50% {
        transform: translate(8700px , 250px);
    }
    100% {
        transform: translate(8700px , 200px);
    }
}
.hd4 {
    transform: translate(8900px , 0px);
}
.hd5 {
    transform: translate(9000px , 20px);   
}
.hd6 {
    transform: translate(9700px , 20px);
}
.hd01 {
    transform: translate(10650px , -300px) scale(0.8);
    z-index: 2;
    transition: 1s;
}
.hd02 {
    transform: translate(10600px , -950px) scale(0.8);
    z-index: 2;
    transition: 1s;
}