@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap");
/*
:root {

}
*/

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  overflow: scroll;
  margin: 0;
  height: 10600px;
  background-color: black;
  
}

.responsive {
  transform-origin: top left;
}

.container {
  display: grid;
  width: 10000px;
  height: 10000px;
}

.j_startbild {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 1;
  transition: 2s
}

.J{
    transform: translate(-6px , 20px); 
    transition: 4s
}

.j_o{
    transform: translate(435px , 10px); 
    transition: 4s
}

.j_Y {
    transform: translate(504px , 258px);
    z-index: 1; 
    transition: 4s
}

.j_text1 {
    transform: translate(200px , 170px);
    transition: 4s
}

.j_detail {
    transform: translate(0px , 0px);
    z-index: 2;
}

.smoke3{
  transform: translate(550px , 0px);
  transition: 4s;
  z-index: 2;
}


.sad {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
}


.j_cry{
  transform: translate(1450px , 120px);
  rotate: -1.5deg;
  width: 43vw;
}

.smoke{
  transform: translate(-40px , -100px);
  width: 3500px;
  transition: 3s;
}

.listen{
  transform: translate(2400px , 400px);
  rotate: -5deg;
  width: 23vw;
}

.talk{
  transform: translate(2570px , -93px);
  rotate: 5deg;
  width: 45vw;
}

.im_tired{
  transform: translate(1700px , 170px);
  width: 140vw;
}

.j_text2{
  transform: translate(1840px, 40px);
}

.j_cry2{
  transform: translate(1950px , 80px);
  width: 45vw;
}

.text4{
  transform: translate(2570px , 440px);
}

.smoke2{
  transform: translate(2920px , -4px);
  width: 70vw;
}

.j3{
  transform: translate(4150px , 0px);
}

.j6{
  transform: translate(3490px , 0px);
  width: 131vw;
}

.j_weiss2{
  transform: translate(3250px , -45px);
  width: 50vw;
}

.j_text3{
  transform: translate(3735px, 135px);
  z-index: 10;
  transition: 2s;
}

.j2{
  transform: translate(4370px , -20px);
  width: 50vw;
}

.bagel1{
  transform: translate(1820px , 380px);
  width: 20vw;
  z-index: 20;
}

.bagel2{
  transform: translate(2550px , -20px);
  width: 12vw;
  z-index: 20;
}

.bagel3{
  transform: translate(3020px , 145px);
  width: 5vw;
  z-index: 20;
}

.bagel4{
  transform: translate(3130px  ,-10px);
  width: 12vw;
}

.bagel5{
  transform: translate(4830px  , -150px);
  width: 30vw;
  z-index: 20;
}

.bagel6{
  transform: translate(4830px  ,160px);
  width: 8vw;
  z-index: 20;
}

.bagel7{
  transform: translate(4800px  ,380px);
  width: 20vw;
  z-index: 20;
}

.j_wash{
  transform: translate(2850px , -150px);
  rotate: 2deg;
  width: 30vw;
}


.widebagel {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  /*z-index: 1;*/
  transform: translate(4930px,0px);
  opacity: 100%;
}


.angry {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
}

.nothingM{
  transform: translate(10760px , 300px);
  transition: 1s;
}

.j_clown{
  transform: translate(6100px , 155px);
}

.j7{
  transform: translate(6320px , 0px);
}
.ifNo{
  transform: translate(8020px , 310px);
  transition: 3s;
}

.goth{
  transform: translate(6620px , 30px);
  width: 35vw;
}

.j_bunt{
  transform: translate(6920px , 185px);
  width: 15vw;
}

.clown2{
  transform: translate(6850px , 305px);
  width: 18vw;
}

.ketshup{
  transform: translate(7010px , -10px);
  width: 24vw;
}

.j_starring{
  transform: translate(7180px , 145px);
  width: 38vw;
}

.j_mad{
  transform: translate(7080px , 343px);
  width: 18vw;
}

.j_blue{
  transform: translate(7400px , 40px);
  width: 23vw;
}

.j_back2{
  transform: translate(7560px , 150px);
  width: 40vw;
}

.j_party{
  transform: translate(7670px , -12px);
  width: 18vw;
}

.j_fire2{
  transform: translate(7870px , 20px);
  width: 25vw;
}

.green{
  transform: translate(8060px , 140px);
  width: 13vw;
}

.bagel8{
  transform: translate(6100px  ,-10px);
  width: 7vw;
  z-index: 20;
}
.bagel9{
  transform: translate(5970px  ,230px);
  width: 10vw;
  z-index: 20;
}

.whiteB{
  transform: translate(8900px  ,0px);
}

.uberg3{
  transform: translate(17500px  ,0px);
  width: 100vw;
}



.rock {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
}

.sky{
  transform: translate(10250px  ,0px);
}

.justbe{
  transform: translate(9800px  ,100px);
}

.rockback{
  transform: translate(9690px  ,200px);
  width: 30vw;
}

.rock_falling{
  transform: translate(9990px  ,200px);
  width: 26vw;
}

.stupid{
  transform: translate(10490px  ,40px);
  transition: 3s;
}

.steinE{
  transform: translate(10600px  ,150px);
  z-index: 100;
}

